<div style="height: 100vh;">
  <div class="wrapper">
    @for (lot of lots; track lot.place) {
    <div class="lot" 
      [ngClass]="(lot.place <=5 || (lot.place >=11 && lot.place <=15)) ? 'lot_option_1' : 'lot_option_2'">
      <div class="lot-inner" [ngClass]="lot.car ? 'lot-busy':'lot-free'">
        {{lot.place}}
      </div>
    </div>
  }
  </div>
  <div class="bottom-wrapper">
    <img [src]='currentPicture'>
    <div class="logs-wrpapper">
    @for (log of logs; track log.place){
      @if(log.action == ActionType.Enter){
        <div class="log">The car {{log.plateNumber}} has entered the parking lot #{{log.place}} at {{log.at | date: 'short'}}</div>
      }
      @else {
        <div class="log">The car {{log.plateNumber}} has left the parking lot #{{log.place}} at {{log.at | date: 'short'}}. Was paid {{log.cost}}</div>
      }
    }
  </div>
  </div>
</div>
